textarea {
    height: 100px;
}

.table-row td:not(:first-child) {
    cursor: pointer;
}

.favorite-btn {
    border: none;
    background: none;
    padding: 0px;
    margin: 0px;
}

.copy-icon {
    border: none;
    background: none;
    padding: 0px;
    margin: 0px;
}

.eye-icon {
    border: none;
    background: none;
    padding: 0px;
    margin: 0px;
}

.favorite {
    color: #FFD700;
}





