{% extends "password_manager/layout.html" %}
{% load static %}

{% block body %}
    
    <h2>Password Health Check</h2>

    <p>
        Place your password inside the input field to determine the strength of your password
        to identify if your password has been breached.
    </p>

    <input class="form-control mb-3" type="password" name="password" enz-enable />

    <a href="{% url 'password-generator' %}">Need a new password? Use the Password Generator to create a strong password.</a> 

{% endblock %}





