{% extends "password_manager/layout.html" %}
{% load static %}

{% block body %}

    <h2>Password Generator</h2>

    <div class="mb-2">
        <input class="form-control" type="text" name="generated-password" id="generated-password">
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="button" id="btn-generate-password">Generate</button>
    </div>

    <div>
        <label for="length" class="form-label">Length</label>
        <input type="range" class="form-range" min="8" max="64" value="12" step="1" id="length" oninput="this.nextElementSibling.value=this.value">    
        <input type="number" min="8" max="64" value=12 id="number" oninput="this.previousElementSibling.value=this.value">
    </div>

    <div>
        <input type="checkbox" id="uppercase" name="uppercase" value="uppercase">
        <label for="uppercase">Uppercase</label><br>

        <input type="checkbox" id="lowercase" name="lowercase" value="lowercase">
        <label for="lowercase">Lowercase</label><br>

        <input type="checkbox" id="numbers" name="numbers" value="numbers">
        <label for="numbers">Numbers</label><br>

        <input type="checkbox" id="symbols" name="symbols" value="symbols">
        <label for="symbols">Symbols</label><br>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'password_manager/password-generator.js' %}"></script>
{% endblock %}